body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #00FF00;
}

.app {
  display: flex;
  height: 100vh;
}

.nav {
  width: 15%;
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  padding: 20px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  margin: 20px 0;
  cursor: pointer;
  font-size: 24px;
  color: #00FF00;
}

.nav ul li a {
  text-decoration: none;
  color: #00FF00; /* Set link color to green */
}

.nav ul li a:hover {
  text-decoration: underline;
}

.linkedin-link {
  display: flex;
  align-items: center;
}

.linkedin-link svg {
  margin-right: 8px;
  color: #00FF00; /* Ensure the icon is also green */
}


.content {
  width: 75%;
  padding: 20px;
}

.home-header {
  display: flex;
}

.portfolio-img {
  max-width: 20%;
  height: auto;
  margin-top: 20px;
  border: 2px solid #00FF00;
}

.portfolio-highlights {
  max-width: 75%;
  margin-left: 40px;
}

.experience {
  padding: 20px;
}